<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="bodyErrPage">
<header>
    <h1>GROUPIE TRACKER</h1>
    <div class="icons">
        <a href="/"><img src="../static/images/home.png" alt="Home Icon"></a>
        <a><img src="../static/images/user.png" alt="User Icon"></a>
    </div>
</header>
<main class="mainErrorPage">
    <h2 class="errorMessage">Error {{.Code}} : {{.Message}}</h2>
    <p class="errorMessage">Sorry, something went wrong on our side. Please try again later.</p>
</main>
<footer>
    &copy; Ricard Léna et Dessenne Ylan
</footer>
</body>
</html>
